//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        col {
            bindings = <
              &kp Q           &kp W           &kp F               &kp P              &kp B      &kp J        &kp L            &kp U         &kp Y            &kp SQT
              &mt LEFT_GUI A  &mt LEFT_ALT R  &mt LEFT_CONTROL S  &mt RIGHT_SHIFT T  &kp G      &kp M        &mt RSHFT N      &mt RCTRL E   &mt RIGHT_ALT I  &mt RMETA O
&kp CAPSLOCK  &kp Z           &kp X           &kp C               &kp D              &kp V      &kp K        &kp H            &kp COMMA     &kp DOT          &kp FSLH     &kp N0
                                              &kp ESCAPE          &lt 2 SPACE        &kp TAB    &lt 4 ENTER  &lt 3 BACKSPACE  &lt 5 DELETE
            >;
        };

        qwer {
            bindings = <
              &kp Q           &kp W           &kp E               &kp R              &kp T        &kp Y              &kp U            &kp I         &kp O       &kp P
              &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt RIGHT_SHIFT F  &kp G        &kp H              &mt RSHFT J      &mt RCTRL K   &mt RALT L  &mt RMETA SEMICOLON
&kp CAPSLOCK  &kp Z           &kp X           &kp C               &kp V              &kp GRAVE    &kp RIGHT_BRACKET  &kp M            &kp COMMA     &kp DOT     &kp FSLH             &kp N1
                                              &kp ESCAPE          &lt 2 SPACE        &kp TAB      &lt 4 ENTER        &lt 3 BACKSPACE  &lt 5 DELETE
            >;
        };

        nav {
            bindings = <
       &none      &none     &none      &none      &none    &none    &kp LC(V)  &kp LC(C)  &kp LC(X)  &kp LC(Z)
       &kp LMETA  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &none    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
&none  &none      &none     &none      &none      &none    &none    &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp N2
                            &none      &none      &none    &kp RET  &kp BSPC   &kp DEL
            >;
        };

        num {
            bindings = <
       &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none      &none      &none     &none
       &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none      &none      &none     &none     &kp N3
                          &kp DOT  &kp N0  &kp MINUS    &none  &none      &none
            >;
        };

        sym {
            bindings = <
       &kp RS(LBKT)   &kp RS(N7)        &kp RS(N8)        &kp RS(N9)        &kp RS(RBKT)     &none  &none      &none      &none     &none
       &kp RS(SEMI)   &kp RS(N4)        &kp RS(N5)        &kp RS(N6)        &kp RS(EQUAL)    &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI
&none  &kp RS(GRAVE)  &kp RS(NUMBER_1)  &kp RS(NUMBER_2)  &kp RS(NUMBER_3)  &kp RS(BSLH)     &none  &none      &none      &none     &none     &kp N4
                                        &kp RS(DOT)       &kp RS(N0)        &kp RS(MINUS)    &none  &none      &none
            >;
        };

        fun {
            bindings = <
       &kp F12  &kp F7  &kp F8      &kp F9     &none      &none  &none      &none      &none     &none
       &kp F11  &kp F4  &kp F5      &kp F6     &none      &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI
&none  &kp F10  &kp F1  &kp F2      &kp F3     &none      &none  &none      &none      &none     &none     &kp N5
                        &kp C_MENU  &kp SPACE  &kp TAB    &none  &none      &none
            >;
        };

        void {
            bindings = <
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
